p{
	width: 100px;
	border: 2px solid blue;
	/*padding:10px;*/
	padding-left: 40px;
	/*margin: 100px;*/
	/*margin-top: 50px;*/
	/*margin: 20px 40px 500px 100px;*/
	margin: 0px auto 0px auto;
}